<ion-content fullscreen>

  <ion-grid class="grid-style">
    <img src="../../../assets/svg/RIOD_Lettertype.svg" style="width: 40vw; margin-top: 15vh; margin-bottom: 10vh; margin-left: 28%;" alt="">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-button
      class="main-button"
      style=" position: absolute; bottom:10vh"
      (click)="goToSignInScreen()">
      Next
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-text>
      <h1>Hi:)</h1>
      <p>Welcome text</p>
    </ion-text>
  </ion-row>
</ion-grid>
</ion-content>
