<ion-content fullscreen>

  <ion-grid class="grid-style">
<img src="../../../assets/svg/RIOD_Lettertype.svg" style="width: 40vw; margin-bottom: 10vh; margin-left: 28%;" alt="">

 
  <ion-row class="ion-align-items-start">
  <ion-text>
    <h1 style="font-family: fantasy;">Anmelden</h1>
    <p style="color:gray;font-size:small">Melde dich mit deiner Handynummer, Google oder Facebook bei RIOD an.</p>
  </ion-text>
</ion-row>

<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-button
    class="main-button"
    style=" position: absolute; top:55vh"
    (click)="goToSignInTelefonnummer()"
    >
    TELEFONNUMMER
  </ion-button>
</ion-row>

<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-text
  style=" position: absolute; top:65vh"
  >
    <h1 style="font-size:large; font-weight:bolder;">ODER</h1>
  </ion-text>
</ion-row>

<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-button
    class="main-button"
    style=" position: absolute; top:75vh">
    FACEBOOK
  </ion-button>
</ion-row>

<ion-row class="ion-justify-content-center ion-align-items-center">
  <ion-button
    class="main-button"
    style=" position: absolute; top:85vh">
    GOOGLE
  </ion-button>
</ion-row>

</ion-grid>
</ion-content>
